canvas {
    background: #000;
  }

/* 4. Over lay the score on the top left corner of the canvas.*/
#scoreP1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }

#scoreP2 {
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 100;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

#gameOverMsg { 
  /* positions "game over" in middle of window*/
  position: fixed; /* or absolute */
  top: 300px;
  left: 400px;
  font-weight: bold;
  font-size: 40px;
  color: red;
  transform: translate(-50%, -50%);
}